<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <div class="col-md-6 col-md-offset-3">
      
      <div class="form-group">
        <%
=begin%>
 <%= form.label :category_id %> 
<%
=end%>
        <%= form.collection_select :category_id, Category.all, :id, :name, :class => 'form-control' %>
      </div>
      <div class="form-group">
          <%= form.text_field :title, :placeholder => "Titre" , :class => 'form-control'%>
        </div>
      <div class="form-group">
          <%= form.rich_text_area :content, :placeholder => " 140 Characters" , :class => 'form-control'%>
        </div>

      <div class="form-group">
          <%= form.file_field :picture, :class => 'form-control' %>
        </div>

      
          <%= form.submit "Publish", class: "btn btn-primary"%>
        
        </div>
<% end %>
