	<% content_for :meta_title, " #{DEFAULT_META["meta_title"]}  | #{@post.title}" %>
	<% content_for :meta_description, @post.content %>
 	<%
=begin%>
 <% content_for :meta_image, image_tag(@post.picture.url) %>  
<%
=end%>
<p id="notice"><%= notice %></p>

 

	<!-- Start of blog sinlge content
		============================================= -->
		<section id="blog-single" class="blog-single-content pt90">
			<div class="container">
			  <div class ="lien">
				<% if current_user.try(:admin?)  %>
			    <%= link_to 'Edit', edit_post_path(@post) %> |
                <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
				<%else%>
				 <%= "_"%> 
				<%end%>
				</div>
				<div class="row">
					<div class="blog-single-content">
					
						<div class="row">
							<div class="col-sm-9">

								<div class="blog-single-right-side">
									<div class="blog-single-main-img">
										<%= image_tag @post.picture.url %>
									</div>

									<div class="blog-main-link deep-black mt20">
										<h2><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit sed</a></h2>
									</div>
									<!-- //.blog-main-link -->


									<div class="blog-meta mt10  ul-li">
										<ul class="meta-list">
											<li><a><%= @post.created_at.strftime("%b %d, %Y - %l:%M %P") %>  ||</a></li>
											<li><a><%= @post.category && @post.category.name %></a></li>							
										</ul>
									</div>
									<!-- //.blog-meta -->
									<div class="blog-single-text mt30">
										<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</span>
									</div>
									<!-- // .blog-single-text -->	

									<div class="blog-single-text mt20">
										<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</span>
									</div>
									<!-- // .blog-single-text -->

									<div class="blog-single-quate mt60">
										<blockquote>
											<%= @post.content %>
										</blockquote>
									</div>	
									<!-- // .blog-single-quate -->


									<div class="blog-share ul-li mt60">
										<span class="share-it text-uppercase deep-white pull-left">Partager -</span>

										<ul class="page-head-social-list">
																		<li> <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" class="social-link"
											><i class="fab fa-facebook-f fa-lg"></i
											></a></li>
																		<li> <a href="https://twitter.com/intent/tweet?text=<%= request.original_url %>" class="social-link"
											><i class="fab fa-twitter fa-lg"></i
											></a></li>
											<li> <a href="whatsapp://send?text=<%= request.original_url %>" class="social-link"
											><i class="fab fa-whatsapp fa-lg"></i
											></a></li>
										</ul><!-- /.page-head-social-list -->
									</div>
									<!-- //.blog-share -->
								</div>
								<!-- //.blog-single-right-side -->


								<div class="blog-single-comment pt90">
                                  	<%= render @post.comments %>
										<!-- //.comment-form-list-pic-text -->

									<div class="blog-single-comment-head text-capitalize  pt90">
										<h3 class="title-head deep-white">Faire Un Commentaire</h3>
									</div>
                              			 <%= render 'comments/form' %> 
								</div>
								<!-- //.blog-single-comment -->

							</div><!--  /.col-sm-9 -->


							<div class="col-sm-3">
								<div class="blog-single-right-side-bar">
									<div class="blog-search mb80">
										<form action="#" method="get">
											<input type="text" class="" placeholder="Rechercher">
											<div class="nws-button">
												<button type="submit" value="Submit"><span><i class="fas fa-search"></i></span></button> 
											</div>
										</form>
									</div>
									<!-- /.blog-search  -->


									<div class="blog-single-right-side-content mt50">
										<div class="blog-single-side-title text-capitalize">
											<h2 class="widgettitle deep-white">Categories</h2>
										</div>
										<!-- //.widgettitle -->
										<div class="category-item mt20 ul-li">
										<% Category.all.each do |category| %>
											<ul class="category-item-list ul-li-block">
												<li><a><%= link_to category.name, posts_path(category: category.name) %></a><span class="badge pull-right"><%= category.posts.count%></span></li>
											</ul>
											<% end %>
										</div>
										<!-- /.category-item  -->
									</div>
									<!-- //.blog-single-right-side-content -->



									<div class="blog-single-right-side-content mt50">
										<div class="blog-single-side-title text-capitalize">
											<h2 class="widgettitle deep-white">Dernière Heure</h2>
										</div>
										<!-- //.widgettitle -->

										<div class="recent-post-list mt30">
											<div class="recent-blog-item">
												<% Post.all.order("created_at DESC").limit(3).each do |post| %>
													<div class="side-tab-img-text">
													<%= link_to post do %>
														<div class="rec-img">
															<%= image_tag post.picture.url %>
														</div>
														<div class="side-tab-text ul-li">
															<div class="rec-link">
																<p>	<%= post.content[0..20]... %>	</p>
															</div>
															<ul class="rec-nws-meta">
																<li> <i class="fas fa-clock"></i> <%= post.created_at.strftime("%b %d, %Y ")%> </li>
															</ul>
														</div>
													<%end%>
													</div>
													<!-- //img-text -->
												<%end%>

												<div class="side-tab-img-text">
													<div class="rec-img">
														<iframe width="260" height="315" src="https://www.youtube.com/embed/t5gKo-s6Pi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
													</div>
													<div class="side-tab-text ul-li">
														<div class="rec-link">
															<p>Hacks to make...</p>
														</div>
														<ul class="rec-nws-meta">
															<li> <i class="fas fa-clock"></i> oct 10, 2016<i> </li>
														</ul>
													</div>
												</div>
											</div>	
										</div>

									</div>
									<!-- //.blog-single-right-side-content -->

								</div>
								<!-- //.blog-single-right-side-bar -->
							</div>
							<!--  /.col-sm-3 -->


						</div><!--  /.row -->
					</div><!-- //.blog-single-content -->
				</div><!--  /.row -->
				
			</div><!--  /.container -->
		</section>
	<!-- End of blog single content
		============================================= -->